.header {
	margin-bottom: 1em;
	height: 100vh;

	.header__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		object-fit: cover;
		width: 100%;
		z-index: -10;
	}

	.header__title {
		text-align: center;
		font-size: clamp(1.8rem, 2.8vw, 2.9rem);
		color: $blanc-1;
		font-family: $font-3;
		text-transform: uppercase;
		text-shadow: 0px 0px 1px #000000c4;
		padding-top: 3em;
		margin-bottom: 8em;
		font-weight: bold;
		position: relative;
		right: 2.3em;
	}

	.header__subtitle {
		font-family: $font-3;
		color: $blanc-1;
		font-weight: 400;
		padding-left: 1em;
		font-size: clamp(2.6rem, 4vw, 4rem);

		span {
			text-shadow: 2px 2px 19px #000000c4;
			margin-bottom: 0.5em;
			display: block;
		}
	}
}

@media screen and (min-width: 1024px) {
	.header {
		.header__title {
			text-align: unset;
			padding: 2em 14vh 0 5em;
		}
	}
}

@media screen and (max-width: 470px) {
	.header {
		.header__bg {
			width: 130%;
			left: -30%;
		}
	}
}
