.qui-suis-je {
	width: 90%;
	margin: 0 auto 4em auto;
	overflow: hidden;

	header {
		padding-top: 3em;
		display: flex;
		align-items: center;
		margin-bottom: 1.5em;

		h2 {
			font-size: $fs-section-1;
			padding-left: 0.5em;
		}

		i {
			font-size: 3.3rem;
			padding-left: 0.1em;
			color: $blanc-1;
			background-color: $beige;
			border-radius: 50%;
			padding: 0.1em 0.5em;
			transition: background-color 0.1s ease;

			&:hover {
				background-color: #9f9082;
			}
		}
	}

	h3 {
		font-size: $fs-section-2;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;
		letter-spacing: 0.6px;
		margin-bottom: 2em;
		color: #bbaa9a;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;

		&--first {
			margin-bottom: 10%;
		}

		p {
			font-size: $fs-section-3;
			margin-bottom: 3em;

			.p-block {
				display: block;
				margin-bottom: 1em;
			}
		}

		.figure__wrapper {
			position: relative;
			width: 100%;

			&::after,
			&::before {
				content: '';
				display: block;
				position: absolute;
				background-color: $beige;
			}

			// Ligne horizontale
			&::before {
				width: 40%;
				height: 1px;
				left: -10%;
				top: 10%;
			}

			// Ligne verticale
			&::after {
				height: 96.5%;
				width: 1px;
				left: 30%;
				top: 10%;
			}

			figure {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				position: relative;

				// Point
				&::before {
					content: '';
					position: absolute;
					display: block;
					background-color: $beige;
					left: 30%;
					top: 50%;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: $beige;
					transform: translate(-50%, -50%);
				}

				img {
					width: 60%;
					max-width: 400px;
					border-radius: 3px;
				}

				figcaption {
					font-weight: bold;
					font-size: 1.3rem;
					padding-right: 0.5em;
					opacity: 0.7;
					font-style: italic;
				}
			}
		}

		&--second {
			margin-bottom: 8em;

			.second-p {
				padding-top: 10%;
			}
			div {
				order: 1;
			}
			.figure__wrapper {
				align-items: flex-start;
				order: 0;

				&::before,
				&::after {
					all: unset;
				}

				&::before,
				&::after {
					content: '';
					display: block;
					background-color: $beige;
					position: absolute;
				}

				// Ligne horizontale
				&::before {
					width: 40%;
					height: 1px;
					left: 50%;
					top: -5.5%;
					transform: translateX(-50%);
				}

				// Ligne verticale
				&::after {
					height: 110%;
					width: 1px;
					right: 30%;
					top: -5.5%;
				}

				figure {
					align-items: flex-start;
					// Hauteur du figcaption
					padding-top: 20.3px;

					// Point
					&::before {
						left: unset;
						right: 30%;
						transform: translate(50%, -50%);
					}

					&::after {
						content: '';
						position: absolute;
						display: block;
						width: 40%;
						right: -10%;
						height: 1px;
						background-color: $beige;
						bottom: -4.5%;
					}
				}
			}

			p {
				margin-bottom: 1.5em;
			}
			ul {
				li {
					font-size: $fs-section-3;
				}
				li:not(:last-child) {
					margin-bottom: 1em;
				}
			}
		}
	}
}

.formations {
	overflow: hidden;
	padding: 1em 0;

	.formations__wrapper {
		.dots {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 1em;

			.dot {
				width: 17px;
				height: 17px;
				background-color: #b3b3b3;
				border-radius: 50%;
				cursor: pointer;
				margin-bottom: 1.5em;

				&--active {
					background-color: #c994a4;
				}
			}
		}

		i {
			display: none;
		}

		.slider-container {
			display: inline-flex;
			overflow: hidden;
			transform: translateX(0);
			transition: transform 0.2s ease-out;
			cursor: grab;

			.card {
				width: 90vw;
				margin: 0 5vw;
				background-color: #eaeaea;
				@include border-radius;
				transition: transform 0.2s ease-in-out;

				.formation {
					padding: 3em;

					img {
						display: block;
						margin: auto;
						max-width: 100%;
						margin-bottom: 2em;
					}

					p {
						font-size: $fs-section-3;
					}
				}
			}
		}

		.grabbing {
			cursor: grabbing;

			.card {
				transform: scale(0.96);
			}
		}

		h3 {
			font-size: $fs-section-2;
			text-transform: uppercase;
			text-align: center;
			font-weight: 400;
			color: #bbaa9a;
			margin-bottom: 3em;
		}
	}
}

@media screen and (min-width: 1024px) {
	.qui-suis-je {
		width: unset;
		margin: 0 125px 0 5%;
		overflow: hidden;

		h3 {
			text-align: left;
		}

		.wrapper--first,
		.wrapper--second {
			position: relative;

			.figure__wrapper {
				// Lignes Mobile
				&::before,
				&::after {
					all: unset;
				}

				figure {
					&::before {
						left: -14.4%;
					}
				}
			}
		}
		.wrapper--second {
			.figure__wrapper {
				figure {
					&::before {
						left: unset;
						right: -14.4%;
					}
	
					&::after {
						all: unset
					}
				}
			}
		}

		.wrapper--first::before,
		.wrapper--first::after,
		.wrapper--second::before,
		.wrapper--second::after {
			content: '';
			display: block;
			background-color: $beige;
			position: absolute;
		}

		.wrapper--first::before {
			top: -5%;
			right: 20%;
			width: 20%;
			height: 1px;
		}

		.wrapper--first::after {
			top: -5%;
			right: 40%;
			width: 1px;
			height: 105%;
		}

		.wrapper--second::before {
			top: 0;
			left: 40%;
			width: 20%;
			height: 1px;
		}

		.wrapper--second::after {
			top: 0;
			left: 40%;
			width: 1px;
			height: 100%;
		}

		.wrapper,
		.wrapper--second {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;

			&--first {
				margin-bottom: unset;
			}

			p {
				font-size: $fs-section-3;
				margin-bottom: unset;
				width: 52%;

				.p-block {
					display: block;
					margin-bottom: 1em;
				}
			}
			.second-p {
				width: 100%;
			}

			.figure__wrapper {
				position: relative;
				width: 35%;

				&::after,
				&::before {
					content: '';
					display: block;
					position: absolute;
					background-color: $beige;
				}

				figure {
					width: unset;
					display: flex;
					flex-direction: column;
					align-items: unset;
					position: relative;

					img {
						all: unset;
						box-sizing: border-box;
					}

					figcaption {
						font-weight: bold;
						font-size: 1.3rem;
						padding-right: 0.5em;
						opacity: 0.7;
						font-style: italic;
					}
				}
			}
		}

		.wrapper--second > div {
			width: 52%;
		}

		.formations {
			z-index: -20;
			overflow: hidden;

			.formations__wrapper {
				max-width: 1440px;
				margin: auto;
				position: relative;

				h3 {
					text-align: unset;
					margin-left: 10%;
					padding-top: 3em;
				}

				i {
					display: block;
					z-index: 30;
					color: #b3b3b3;
					font-size: 2.5rem;
					cursor: pointer;
					transition: all 0.07s ease-in-out;

					&:hover {
						color: #c994a4;
					}

					&:first-of-type {
						position: absolute;
						top: 50%;
						left: 15%;
					}

					&:last-of-type {
						position: absolute;
						top: 50%;
						right: 15%;
					}
				}
				.slider-container {
					user-select: none;
					margin-bottom: 4em;
					transition-duration: 0.3s;
					cursor: unset;

					.card--desktop {
						display: flex;
						justify-content: center;
						width: 80vw;
						margin: 0 10vw;

						.card {
							cursor: grab;
							max-width: 1000px;
							width: unset;
							margin: unset;
							height: fit-content;
							z-index: 10;
							user-select: none;
							transition-duration: 0.3s;
							max-width: 750px;
						}
					}
				}
			}
		}
	}
}
