/* COLORS */
$rose: #C994A4;
$beige: #D8C6B5;
$blanc-1: #fff;
$blanc-2: #F1F1F1;
$noir: #262626;

/* FONTS */
$font-1: 'Sacramento', cursive;
$font-2: 'Poppins', sans-serif;

/* FONT SIZE */
$fs-section-1: clamp(4rem, 8vw, 6.5rem);
$fs-section-2: clamp(1.8rem, 2vw, 2.2rem);
$fs-section-3: clamp(1.6rem, 1.5vw, 1.8rem);
$fs-button: 1.6rem;

/* MISC */
@mixin border-radius {
  border-radius: 30px;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
  color: $noir;
  background-color: $blanc-2;
  font-family: $font-2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 { 
  font-family: $font-1;
  color: $rose;
  letter-spacing: -1.2px;
}

.button {
  padding: 0.4em 2em;
  background: $rose;
  border-radius: 20px;
  color: $blanc-2;
  font-weight: bold;
  margin-bottom: 2em;
  font-size: $fs-button;
  cursor: pointer;
  transition: all .1s ease;
  
  &:hover {
    background-color: #a77b88;
  }
}
